<h1><a href="{{ menu.get_full_path }}">{{ menu.title }}</a></h1>
<ul>
  {% with items=menu.items.all %}
    {% for item in items %}
      {% if item.items.all %}
        <li><a href="{{ item.get_url }}">{{ item.title }}</a></li>
        <ul>
          {% for nested_item in item.items.all %}
          <li><a href="{{ nested_item.get_url }}">{{ nested_item.title }}</a></li>
          {% endfor %}
        </ul>
      {% else %}
        <li><a href="{{ item.get_url }}">{{ item.title }}</a></li>
      {% endif %}
    {% endfor %}
  {% endwith %}
</ul>
